
/* Generic styling */

body {
  font-size: 16px;
  font-family: "Roboto", Arial, sans-serif;
  padding-top: 64px;
}

a {
  text-decoration: none;
  color: inherit;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Flexbox generic stying*/

/*Row*/

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.row--strech {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: stretch;
  align-items: stretch;
}

.row--top--center {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.row--spacebetween {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.row--middle--start {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

/*Column*/

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.column--spacebetween {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.column--right--top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}


/* Navigation bar styling */

.navbar {
  height: 4rem;
  color: #403d39;
  font-weight: 400;
  font-size: 1rem;
  padding: 0 1.5rem;
  position: fixed;
  top: 0;
  background-color: #ffffff;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #ebebeb;
  z-index: 5;
  overflow: hidden;
}

nav span {
  padding: 1.1em;
}

.logo img {
  max-width: 4rem;
  padding: 0 0.5rem 0 0;
  height: auto;
  display: block;
}

.logo span {
  text-transform: uppercase;
  font-size: 1.2rem;
}

.logo span:first-of-type {
  font-weight: 700;
  color: #231826;
}

.navbar--mobile {
  display: none;
}

/* Hero secton styling */
