
/* Generic styling */

body {
  font-size: 16px;
  font-family: "Roboto", Arial, sans-serif;
  padding-top: 6rem;
}

a {
  text-decoration: none;
  color: inherit;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Flexbox generic stying*/

/*Row*/

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.flex-row--strech {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: stretch;
  align-items: stretch;
}

.flex-row--top--center {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.flex-row--spacebetween {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-row--middle--start {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

/*Column*/

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.flex-column--spacebetween {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.flex-column--right--top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

/* Navigation bar styling */

.navbar {
  color: #403d39;
  padding: 0.5rem;
  font-size: 1.8rem;
  font-weight: 400;
  background-color: #ffffff;
  border-bottom: 1px solid #ebebeb;
  z-index: 5;
}

.navbar-brand {
  padding: 0;
  font-size: 2rem;
}

.navbar-brand img {
  max-width: 4rem;
  height: auto;
  display: inline;
}

.navbar-brand span {
  text-transform: uppercase;
}

.navbar-brand span:first-of-type {
  font-weight: 700;
  color: #231826;
  padding: 0 0.2rem 0 1rem;
}


/* JUMBOTRON section styling */

.jumbotron h1 {
  font-size: 4rem;
  font-weight: 700;
  padding: 10rem 0;
}

.jumbotron {
  text-align: center;
  min-height: 27rem;
}

/* Main Promo Item Styling */

.main-promo {
 padding: 2rem 1.5rem;
}

.main-promo__title {
  margin: 0;
}

/*Product Highlights styling */

.secondary-promo__title {
   padding: 2rem 0 0 0;
}

.product-highlights {
 padding: 2rem 1.5rem;
}

/*Google maps styling */

#googleMap {
  margin: 2rem 0;
}

/*Footer styling */

footer .glyphicon {
   font-size: 20px;
   margin-bottom: 20px;
   color: #f4511e;
}
